@tailwind base;
@tailwind components;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

html.darkMode:root {
  --primary: #571168;
  --text-color: #ffffff;
  --paper: rgb(59, 59, 59);
  --background: #212121;
  --border-color: rgb(98, 98, 98);
}
html:root {
  --primary: #571168;
  --text-color: #000000;
  --paper: rgb(236, 236, 236);
  --background: #fff;
  --border-color: rgb(218, 218, 218);
}

* {
  /* transition: all 0.2s ease; */
  accent-color: var(--primary);
  border-color: var(--border-color);
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background: var(--background);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}

option{
  @apply text-black
}

.toolbarClassName{
  color:black !important;
}

.btn-filled {
  @apply capitalize border border-primary px-4 py-2 text-white flex items-center gap-2 bg-primary rounded hover:opacity-80 transition disabled:bg-paper disabled:border-paper disabled:text-gray-500 disabled:hover:opacity-100;
}
.btn-outlined {
  @apply px-4 py-2 text-textColor hover:border-textColor flex items-center gap-2 border rounded capitalize hover:bg-paper transition disabled:text-paper disabled:hover:bg-transparent;
}
.btn-small {
  @apply px-3 py-2 text-sm;
}
.input {
  @apply border focus:border-textColor hover:border-textColor bg-transparent px-3 py-2 rounded w-full outline-0 outline-none text-sm;
}
input {
  outline: none;
}

.loader{
  overflow: hidden;
  position: relative;
  background: var(--paper);
}
.loader::before {
  content: "";
  position: absolute;
  left: -130%;
  width: 100%;
  height: 100%;
  background: var(--primary);
  -webkit-animation: progress 1s linear infinite;
  animation: progress 1s linear infinite;
}


@keyframes progress {
  0% {
    left: -130%;
  }
  100% {
    left: 130%;
  }
}
@tailwind utilities;
